@model RegisterVM
@{
    ViewData["Title"] = "Register";
}

<h2>Register</h2>
<form action="Register" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Birthday" class="form-label"></label>
        <input asp-for="Birthday" class="form-control">
        <span asp-validation-for="Birthday" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Password" class="form-label"></label>
        <input asp-for="Password" class="form-control">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <input type="submit" value="Entrar" class="btn btn-primary">
</form>     

@section Script{
    <partial name="_ValidateonScriptsPartial"></partial>
}