main {
  width: 100%;
  max-width: 2000px;
  height: auto;
  padding: 1rem 3% 1.5em 3%;
  overflow-x: hidden;
  margin: auto;
}

.banner {
  height: 100vh;
  background-color: aquamarine;
  transition: transform 0.1s ease-out;
}

#titulo {
  padding: 2rem 0;
  width: 100%;
  height: auto;
  display: flex;
}

.cards-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section {
  position: relative;
  width: 408px;
  height: 740px;
  max-width: 1200px;
  background-color: aliceblue;
  border-radius: 30px;
  margin: 0.5%;
  overflow: hidden;
  transition: all 0.5s ease;
}

section:hover {
  transform: scale(1.03); 
}

section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mais-info {
  position: absolute;
  bottom: 0; 
  width: 100%;
  height: 100px; 
  display: flex;
  align-items: center;    
  justify-content: end;
  padding: 0 1.5rem;
}

.maisInfo-btn {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background-color: rgb(48, 47, 47);
  cursor: pointer;
  transition: all .8s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.maisInfo-btn img {
  width: 50%;
  height: auto;
}

.maisInfo-btn:hover {
  background-color: rgb(63, 62, 62);
}

.btn-group {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: end;
  flex-direction: row-reverse;
}

#proximo-btn {
  height: 36px;
  width: 36px;
  margin-top: 20px;
  padding: 10px 10px; 
  border-radius: 50%;
  cursor: pointer;
  background-color: rgb(214, 214, 214);
}

#proximo-btn:hover {
  background-color: rgb(240, 240, 240);
  transition: all 0.5s ease;
}

#anterior-btn:hover {
  background-color: rgb(240, 240, 240);
  transition: all 0.5s ease;
}

#anterior-btn {
  height: 36px;
  width: 36px;
  margin-top: 20px;
  padding: 10px 10px; 
  border-radius: 50%;
  cursor: pointer;
  margin-right: 1rem;
  background-color: rgb(214, 214, 214);
}

#anterior-btn img {
  width: 100%;
  height: auto;
  transform: rotate(180deg);
  opacity: 0.65;
}

#proximo-btn img {
  width: 100%;
  height: auto;
  opacity: 0.65;
}

.agrupa-container {
  display: flex; 
  width: 100%;
  position: relative;
}

.cards-container-wrapper {
  display: flex;
  width: 200%;
  transition: transform 0.6s ease-in-out;
}

.modal-backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1040;
}

.modal-backdrop.active {
  display: block;
}

.cards-container-wrapper {
  display: flex;
  transition: transform 0.6s ease-in-out;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90vh;
  background-color: white;
  border-radius: 10px;
  z-index: 1050;
  overflow: auto;
  padding: 20px;
  max-width: 1900px;
}

.modal.active {
  display: block;
}

.modal-content {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 5%;
}

#modal-text {
  max-width: 80%;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
  color: #333;
}

body.modal-active {
  overflow: hidden;
}

main p {
  font-size: 15pt;
}

.efeito-fadeIn {
  opacity: 0;
  transform: translateY(20px);
  transition: 1s ease;
}

.efeito-fadeIn--visible {
  transform: translateY(0);
  opacity: 1;
}


@media (max-width: 1370px) {
  section {
    width: 372px; 
    height: 680px; 
  }

  main p {
    font-size: 12pt;
  }

  main h1 {
    font-size: 25pt;
  }
}

@media (max-width: 1070px) {
  section {
    width: 344px; 
    height: 628px; 
    transition: all .5s ease;
  }
}

@media (max-width: 768px) {
  #titulo, #titulo h1 {
    justify-content: center;
    font-size: 5vw;
    transition: all .5s ease;
  }
}

@media (max-width: 730px) {
  section {
    width: 260px; 
    height: 505px; 
    transition: all .5s ease;
  }
}

@media (max-width: 590px) {
  #modal-text {
    max-width: 95%;
  }
}

@media (max-width: 480px) {
  .modal-backdrop {
    display: none;
  }

  .modal {
    width: 100%;
    height: 100%;
    transition: all .5s ease;
  }
}

@media (max-width: 320px) {
  section {
    width: 80vw;
    height: 150vw;
    transition: all .5s ease;
  }
}


