<header>
    <div class="header-slide-menu">
        <div class="header-slide">
            <div class="menu">
                <div class="left-menu-slide">
                    <a asp-action="Index" asp-controller="Home">
                        <img class="logo-menu-slide" src="~/img/bandup-logo-footer.png" alt="bandup-logo">
                    </a>
                </div>
                <div class="middle-menu">
                    <p><a asp-action="Index" asp-controller="Home">Home</a></p>
                    <p><a asp-controller="Home" asp-action="Marcas">Marcas</a></p>
                    <p><a href="#">Nossas lojas</a></p>
                    <p><a href="#">Eventos</a></p>
                    <p><a asp-action="Cosmos" asp-controller="Home">Cosmos</a></p>
                    <p><a href="#">Seja um cliente <span class="yellow-txt">B2B</span></a></p>
                </div>
                <div class="right-menu">
                    <div class="menu-lang">
                        <div class="planet-icon">
                            <img src="~/img/planet-lang.svg" alt="idioma">
                        </div>
                        <div class="lang-txt">
                            <span class="lang-atual">PT_BR</span>
                            <i class="fa-solid fa-caret-down fa-sm"></i>
                            <div class="menuaberto-lang">
                                <ul>
                                    <li>
                                        <span>EN</span>
                                        <p>English</p>
                                    </li>
                                    <li>
                                        <span>BR</span>
                                        <p>Português</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="menu-bar" tabindex="0">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <div class="menuaberto">
                            <div class="menu-text-right">
                                <p><a asp-controller="Home" asp-action="Index">Home</a></p>
                                <p><a asp-controller="Home" asp-action="Marcas">Marcas</a></p>
                                <p><a href="#">Nossas lojas</a></p>
                                <p><a href="Eventos.htmle">Eventos</a></p>
                                <p><a asp-action="Home" asp-controller="Cosmos">Cosmos</a></p>
                                <p><a href="#">Seja um cliente <span class="yellow-txt">B2B</span></a></p>
                                <div class="lang-inside-menu">
                                    <div class="planet-icon">
                                        <img src="~/img/planet-lang.svg" alt="idioma">
                                    </div>
                                    <a href="#"><span>EN</span></a>
                                    <a href="#"><span>PT-BR</span></a>
                                </div>
                            </div>
                            <span class="line-menu"></span>
                            <p><a href="#">Conheça o grupo <img class="img-cosmos-menu" src="~/img/cosmos.png"
                                        alt=""></a></p>
                            <p><a href="#">Trabalhe conosco</a></p>
                            <p><a href="#">Nossa história</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>