<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Cosmos">
    <title>Cosmos - @ViewData["Title"]</title>

    <!-- Favicons -->
    <link rel="icon" href="~/img/logo.png" type="image/png">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/admin.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3 fs-4 bg-dark" asp-action="Index" asp-controller="Admin">
            <svg width="180" height="40" viewBox="0 -15 200 60" fill="none" xmlns="http://www.w3.org/2000/svg" id="logo">
                    <path
                        d="M15.2247 30C6.83007 30 0 23.2721 0 15.0009C0 6.72967 6.83007 0 15.2247 0C20.6089 0 25.646 2.84744 28.3705 7.42957C28.8938 8.3102 28.5935 9.44067 27.6997 9.95629C26.806 10.4719 25.6586 10.176 25.1353 9.29537C23.0816 5.84017 19.2835 3.69263 15.2247 3.69263C8.89635 3.69263 3.74952 8.76558 3.74952 14.9991C3.74952 21.2327 8.89815 26.3056 15.2247 26.3056C19.3123 26.3056 23.123 24.1368 25.1695 20.6444C25.6874 19.762 26.8329 19.459 27.7303 19.9693C28.6259 20.4796 28.9334 21.6083 28.4155 22.4925C25.7018 27.1224 20.6467 29.9982 15.2247 29.9982V30Z"
                        fill="white" />
                    <path
                        d="M131.888 24.7818C126.414 24.7818 121.961 20.3945 121.961 15.0009C121.961 9.60724 126.414 5.22002 131.888 5.22002C137.362 5.22002 141.815 9.60724 141.815 15.0009C141.815 20.3945 137.362 24.7818 131.888 24.7818ZM131.888 8.91265C128.482 8.91265 125.709 11.6431 125.709 15.0009C125.709 18.3586 128.48 21.0891 131.888 21.0891C135.296 21.0891 138.067 18.3586 138.067 15.0009C138.067 11.6431 135.296 8.91265 131.888 8.91265Z"
                        fill="white"/>
                    <path
                        d="M44.1338 24.7818C38.6597 24.7818 34.207 20.3945 34.207 15.0009C34.207 9.60724 38.6597 5.22002 44.1338 5.22002C49.608 5.22002 54.0606 9.60724 54.0606 15.0009C54.0606 20.3945 49.608 24.7818 44.1338 24.7818ZM44.1338 8.91265C40.7278 8.91265 37.9548 11.6431 37.9548 15.0009C37.9548 18.3586 40.726 21.0891 44.1338 21.0891C47.5417 21.0891 50.3129 18.3586 50.3129 15.0009C50.3129 11.6431 47.5417 8.91265 44.1338 8.91265Z"
                        fill="white" />
                    <path
                        d="M115.808 24.7818C114.918 24.7818 114.13 24.1563 113.966 23.2632L111.742 11.1346L103.507 20.2758C103.151 20.671 102.64 20.896 102.106 20.896C101.572 20.896 101.06 20.6692 100.705 20.2758L92.4708 11.1346L90.2462 23.2632C90.0628 24.2661 89.0863 24.9324 88.0684 24.7516C87.0506 24.5709 86.3726 23.6088 86.5578 22.6059L89.4675 6.73675C89.5952 6.04039 90.1149 5.4787 90.8055 5.28734C91.4961 5.09597 92.237 5.31037 92.7135 5.84017L102.108 16.2678L111.503 5.84017C111.979 5.31214 112.72 5.09597 113.411 5.28734C114.101 5.4787 114.621 6.04039 114.748 6.73675L117.658 22.6059C117.842 23.6088 117.165 24.5709 116.148 24.7516C116.034 24.7711 115.923 24.7818 115.811 24.7818H115.808Z"
                        fill="white" />
                    <path
                        d="M76.341 24.7818H64.2436C63.2078 24.7818 62.3698 23.9543 62.3698 22.9354C62.3698 21.9166 63.2096 21.0891 64.2436 21.0891H76.341C77.5297 21.0891 78.499 20.1359 78.499 18.9629C78.499 17.7899 77.5315 16.8366 76.341 16.8366L64.2472 16.8578C60.9868 16.8578 58.3379 14.2478 58.3379 11.0389C58.3379 7.83002 60.9868 5.22002 64.2436 5.22002H76.341C77.3768 5.22002 78.2149 6.04749 78.2149 7.06633C78.2149 8.08518 77.375 8.91265 76.341 8.91265H64.2436C63.0549 8.91265 62.0856 9.86593 62.0856 11.0389C62.0856 12.2119 63.0531 13.1652 64.2436 13.1652L76.3374 13.1439C79.596 13.1439 82.2467 15.7539 82.2467 18.9629C82.2467 22.1718 79.5978 24.7818 76.341 24.7818Z"
                        fill="white" />
                    <path
                        d="M164.095 24.7818H151.998C150.962 24.7818 150.124 23.9543 150.124 22.9354C150.124 21.9166 150.963 21.0891 151.998 21.0891H164.095C165.284 21.0891 166.253 20.1359 166.253 18.9629C166.253 17.7899 165.285 16.8366 164.095 16.8366L152.001 16.8578C148.741 16.8578 146.092 14.2478 146.092 11.0389C146.092 7.83002 148.741 5.22002 151.998 5.22002H164.095C165.131 5.22002 165.969 6.04749 165.969 7.06633C165.969 8.08518 165.129 8.91265 164.095 8.91265H151.998C150.809 8.91265 149.84 9.86593 149.84 11.0389C149.84 12.2119 150.807 13.1652 151.998 13.1652L164.091 13.1439C167.35 13.1439 170.001 15.7539 170.001 18.9629C170.001 22.1718 167.352 24.7818 164.095 24.7818Z"
                        fill="white" />
                </svg>
            
        </a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse"
            data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <partial name="_LoginPartial"></partial>

    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="sidebar-sticky pt-4">
                    <ul class="nav flex-column pe-2">
                        <li class="nav-item py-1 bg-dark rounded-end-5">
                            <a class="nav-link fs-6 active" href="#">
                                <i class="bi bi-house-fill fs-5"></i> Home
                            </a>
                        </li>
                        <li class="nav-item py-1">
                            <a class="nav-link fs-6" asp-action="Index" asp-controller="Eventos">
                                <i class="bi bi-file-text-fill fs-5"></i>
                                Eventos
                            </a>
                        </li>
                        <li class="nav-item py-1">
                            <a class="nav-link fs-6" asp-action="Index" asp-controller="Lojas">
                                <i class="bi bi-fire fs-5"></i>
                                Lojas
                            </a>
                        </li>
                        <li class="nav-item py-1">
                            <a class="nav-link fs-6" asp-action="Index" asp-controller="Marcas">
                                <i class="bi bi-egg-fried"></i>
                                Marcas
                            </a>
                        </li>
                        <li class="nav-item py-1">
                            <a class="nav-link fs-6" asp-action="Index" asp-controller="Curriculos">
                                <i class="bi bi-egg-fried"></i>
                                Trabalhe Conosco
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-9 ms-sm-auto col-lg-10 px-md-4 pt-3">
                @RenderBody()
            </main>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>