﻿<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cosmos - @ViewData["Title"]</title>
    <link rel="icon" href="~/img/logo.png" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/site.css" />
    @await RenderSectionAsync("Styles", required: false)
</head>

<body>
    @RenderBody()

    <footer>
        <div id="footer-content">
            <div class="left-footer">
                <img class="logo-footer" src="~/img/bandup-logo-footer.png" alt="bandup-logo">
                <div class="social-icon">
                    <a href="#"><img src="~/img/facebook-icon.png" alt="Facebook"></a>
                    <a href="#"><img src="~/img/instagram-icon.png" alt="Instagram"></a>
                    <a href="#"><img src="~/img/x-icon.png" alt="X"></a>
                </div>
            </div>
            <div class="center-footer">
                <div class="content-footer-menu">
                    <p><a href="#">Home</a></p>
                    <p><a asp-controller="Home" asp-action="Index"></a>Marcas</a></p>
                    <p><a href="#">Nossas lojas</a></p>
                    <p><a href="#">Eventos</a></p>
                    <p><a href="#">Seja um cliente B2B</a></p>
                    <p><a href="#">Conheça o grupo Cosmos</a></p>
                    <p><a href="#">Trabalhe conosco</a></p>
                    <p><a href="#">Nossa Historia</a></p>
                    <p><a href="#">Fale conosco</a></p>
                </div>
                <div class="content-footer-menu">
                    <p class="bold-txt">Lojas Oficiais</p>
                    <p><a href="#">Loja DC Comics</a></p>
                    <p><a href="#">Loja Warner Bros</a></p>
                    <p><a href="#">CN Shop</a></p>
                    <p><a href="#">Shop Harry Potter</a></p>
                    <p><a href="#">HBO Shop</a></p>
                    <p><a href="#">Lojinha da Mõnica</a></p>
                    <p><a href="#">Fresno Shop</a></p>
                </div>
            </div>
            <div class="newletter">
                <div class="NLtxt">
                    <p class="poppins-bold">RECEBA NOSSAS NOVIDADES</p>
                    <p class="poppins-regular">Fique por dentro dos últimos<br>lançamentos do mundo Geek!</p>
                </div>
                <form class="input-txt" action="#">
                    <input class="input-box" type="text" id="fname" name="fname" placeholder="Nome">
                    <input class="input-box" type="text" id="lname" name="lname" placeholder="E-mail">
                    <input class="button" type="submit" value="Submit">
                </form>
            </div>
        </div>
        <div class="legal-line">
            <h2 class="lang-txt" style="color: white;">
                Fan Store Entretenimento S.A. - bandUP! - Av. Pedro Ometto, 1570 - Vila Narcisa -
                17340-212 - Barra Bonita (SP) - CNPJ: 01.424.397/0001-01 - Inscricao Estadual: 202.032.630.110
            </h2>
        </div>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>