@inject SiteInstitucionalBandup.Services.IUsuarioService userService
@{
    var usuario = await userService.GetUsuarioLogado();
}

@if (usuario == null)
{
    <a asp-action="Login" asp-controller="Account" class="me-2">
        <img src="~/img/usuarios/no-photo.png" width="40" height="40" class="object-fit-cover rounded-5">
    </a>
}
else
{
    <div class="nav-item dropdown me-2">
        <button class="nav-link text-white dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src='@(usuario.Foto ?? Url.Content("~/img/usuarios/no-photo.png"))' width="40" height="40" class="object-fit-cover rounded-5">
        </button>
        <ul class="dropdown-menu" style="position:absolute!important; margin-left: -200px!important; width:250px">
            @if (usuario.IsAdmin)
            {
                <li>
                    <a class="dropdown-item" asp-action="Index" asp-controller="Home">
                        <i class="bi bi-house"></i> Acessar Área Pública
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" asp-action="Index" asp-controller="Admin">
                        <i class="bi bi-receipt"></i> Acessar Área Administrativa
                    </a>
                </li>
            }
            <li>
                <a class="dropdown-item" href="#">
                    <i class="bi bi-person-bounding-box"></i> Gerenciar Conta
                </a>
            </li>
            <li>
                <form method="POST" asp-action="Logout" asp-controller="Account">
                    <button type="submit" class="dropdown-item aling-middle">
                        <i class="bi bi-door-closed"></i> Sair
                    </button>
                </form>
            </li>
        </ul>
    </div>
}