@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/cosmos.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.4.0/fonts/remixicon.css" rel="stylesheet"/>
    <title>COSMOS</title>

    <style>
        
    </style>
</head>

<body>
    <header>
        <div class="menu">
            <div class="logo">
                <a asp-controller="Home" asp-action="Cosmos">
                    <svg width="180" height="40" viewBox="0 -15 200 60" fill="none" xmlns="http://www.w3.org/2000/svg"
                        id="logo">
                        <path
                            d="M15.2247 30C6.83007 30 0 23.2721 0 15.0009C0 6.72967 6.83007 0 15.2247 0C20.6089 0 25.646 2.84744 28.3705 7.42957C28.8938 8.3102 28.5935 9.44067 27.6997 9.95629C26.806 10.4719 25.6586 10.176 25.1353 9.29537C23.0816 5.84017 19.2835 3.69263 15.2247 3.69263C8.89635 3.69263 3.74952 8.76558 3.74952 14.9991C3.74952 21.2327 8.89815 26.3056 15.2247 26.3056C19.3123 26.3056 23.123 24.1368 25.1695 20.6444C25.6874 19.762 26.8329 19.459 27.7303 19.9693C28.6259 20.4796 28.9334 21.6083 28.4155 22.4925C25.7018 27.1224 20.6467 29.9982 15.2247 29.9982V30Z"
                            fill="white" />
                        <path
                            d="M131.888 24.7818C126.414 24.7818 121.961 20.3945 121.961 15.0009C121.961 9.60724 126.414 5.22002 131.888 5.22002C137.362 5.22002 141.815 9.60724 141.815 15.0009C141.815 20.3945 137.362 24.7818 131.888 24.7818ZM131.888 8.91265C128.482 8.91265 125.709 11.6431 125.709 15.0009C125.709 18.3586 128.48 21.0891 131.888 21.0891C135.296 21.0891 138.067 18.3586 138.067 15.0009C138.067 11.6431 135.296 8.91265 131.888 8.91265Z"
                            fill="white" />
                        <path
                            d="M44.1338 24.7818C38.6597 24.7818 34.207 20.3945 34.207 15.0009C34.207 9.60724 38.6597 5.22002 44.1338 5.22002C49.608 5.22002 54.0606 9.60724 54.0606 15.0009C54.0606 20.3945 49.608 24.7818 44.1338 24.7818ZM44.1338 8.91265C40.7278 8.91265 37.9548 11.6431 37.9548 15.0009C37.9548 18.3586 40.726 21.0891 44.1338 21.0891C47.5417 21.0891 50.3129 18.3586 50.3129 15.0009C50.3129 11.6431 47.5417 8.91265 44.1338 8.91265Z"
                            fill="white" />
                        <path
                            d="M115.808 24.7818C114.918 24.7818 114.13 24.1563 113.966 23.2632L111.742 11.1346L103.507 20.2758C103.151 20.671 102.64 20.896 102.106 20.896C101.572 20.896 101.06 20.6692 100.705 20.2758L92.4708 11.1346L90.2462 23.2632C90.0628 24.2661 89.0863 24.9324 88.0684 24.7516C87.0506 24.5709 86.3726 23.6088 86.5578 22.6059L89.4675 6.73675C89.5952 6.04039 90.1149 5.4787 90.8055 5.28734C91.4961 5.09597 92.237 5.31037 92.7135 5.84017L102.108 16.2678L111.503 5.84017C111.979 5.31214 112.72 5.09597 113.411 5.28734C114.101 5.4787 114.621 6.04039 114.748 6.73675L117.658 22.6059C117.842 23.6088 117.165 24.5709 116.148 24.7516C116.034 24.7711 115.923 24.7818 115.811 24.7818H115.808Z"
                            fill="white" />
                        <path
                            d="M76.341 24.7818H64.2436C63.2078 24.7818 62.3698 23.9543 62.3698 22.9354C62.3698 21.9166 63.2096 21.0891 64.2436 21.0891H76.341C77.5297 21.0891 78.499 20.1359 78.499 18.9629C78.499 17.7899 77.5315 16.8366 76.341 16.8366L64.2472 16.8578C60.9868 16.8578 58.3379 14.2478 58.3379 11.0389C58.3379 7.83002 60.9868 5.22002 64.2436 5.22002H76.341C77.3768 5.22002 78.2149 6.04749 78.2149 7.06633C78.2149 8.08518 77.375 8.91265 76.341 8.91265H64.2436C63.0549 8.91265 62.0856 9.86593 62.0856 11.0389C62.0856 12.2119 63.0531 13.1652 64.2436 13.1652L76.3374 13.1439C79.596 13.1439 82.2467 15.7539 82.2467 18.9629C82.2467 22.1718 79.5978 24.7818 76.341 24.7818Z"
                            fill="white" />
                        <path
                            d="M164.095 24.7818H151.998C150.962 24.7818 150.124 23.9543 150.124 22.9354C150.124 21.9166 150.963 21.0891 151.998 21.0891H164.095C165.284 21.0891 166.253 20.1359 166.253 18.9629C166.253 17.7899 165.285 16.8366 164.095 16.8366L152.001 16.8578C148.741 16.8578 146.092 14.2478 146.092 11.0389C146.092 7.83002 148.741 5.22002 151.998 5.22002H164.095C165.131 5.22002 165.969 6.04749 165.969 7.06633C165.969 8.08518 165.129 8.91265 164.095 8.91265H151.998C150.809 8.91265 149.84 9.86593 149.84 11.0389C149.84 12.2119 150.807 13.1652 151.998 13.1652L164.091 13.1439C167.35 13.1439 170.001 15.7539 170.001 18.9629C170.001 22.1718 167.352 24.7818 164.095 24.7818Z"
                            fill="white" />
                    </svg>
                </a>
            </div> <!--LOGO-->
    
            <div class="menu-items">
                <ul>
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-controller="Home" asp-action="Lojas" id="menuLojas">Lojas</a></li>
                    <li><a asp-controller="Home" asp-action="Marcas" id="menuMarcas">Marcas</a></li>
                    <li><a asp-controller="Home" asp-action="Eventos" id="menuEventos">Eventos</a></li>
                    <li><a asp-controller="Home" asp-action="Historia" id="menuHistoria">História</a></li>
                    <li><a asp-controller="Home" asp-action="Cosmos">Cosmos</a></li>
                    <li><a href="https://api.whatsapp.com/send/?phone=5514996639382&text&type=phone_number&app_absent=0" target="_blank" id="menuB2B">Seja um cliente <span id="span-b2b">B2B</span></a></li>
                </ul>
            </div>
    
            <div class="main">
                <div class="troca-lang">
                    <span id="selected-lang">PT-BR</span>
                    <img src="~/img/earth-globe-svgrepo-com.svg" alt="Globo" id="globe-icon">
    
                    <div class="dropdown-lang">
                        <a href="#" onclick="mudaIdioma('PT-BR')">Português</a>
                        <a href="#" onclick="mudaIdioma('EN')">English</a>
                    </div>
                </div>
    
                <div id="icone-menu">
                    <img id="menu-icon" src="~/img/menu-svgrepo-com.svg" style="width: 20px; height: auto;">
                </div>
            </div>
        </div>

        <div class="imagem-header">
            <div class="texto-header">
                <h1 id="titulo-abertura">BEM-VINDO,<br>COSMONAUTAS!</h1>
                <p id="subtitulo-abertura">TODOS ABORDO E AVANTE!</p>
            </div>
        </div> <!--FIM DA DIV IMAGEM-HEADER-->
 
    </header>

    <main>

        
        <div class="container">
            <div class="estrelas">
                <span style="--i:11;"></span>
                <span style="--i:12;"></span>
                <span style="--i:24;"></span>
                <span style="--i:10;"></span>
                <span style="--i:14;"></span>
                <span style="--i:23;"></span>
                <span style="--i:18;"></span>
                <span style="--i:16;"></span>
                <span style="--i:19;"></span>
                <span style="--i:20;"></span>
                <span style="--i:22;"></span>
                <span style="--i:25;"></span>
                <span style="--i:18;"></span>
                <span style="--i:21;"></span>
                <span style="--i:15;"></span>
                <span style="--i:13;"></span>
                <span style="--i:26;"></span>
                <span style="--i:17;"></span>
                <span style="--i:13;"></span>
                <span style="--i:28;"></span>
                <span style="--i:22;"></span>
                <span style="--i:25;"></span>
                <span style="--i:18;"></span>
                <span style="--i:21;"></span>
                <span style="--i:15;"></span>
                <span style="--i:13;"></span>
                <span style="--i:26;"></span>
                <span style="--i:17;"></span>
                <span style="--i:13;"></span>
                <span style="--i:28;"></span>
                <span style="--i:11;"></span>
                <span style="--i:12;"></span>
                <span style="--i:24;"></span>
                <span style="--i:10;"></span>
                <span style="--i:14;"></span>
                <span style="--i:23;"></span>
                <span style="--i:18;"></span>
                <span style="--i:16;"></span>
                <span style="--i:19;"></span>
                <span style="--i:20;"></span>
                <span style="--i:21;"></span>
                <span style="--i:15;"></span>
                <span style="--i:13;"></span>
                <span style="--i:26;"></span>
                <span style="--i:17;"></span>
                <span style="--i:13;"></span>
                <span style="--i:28;"></span>
                <span style="--i:22;"></span>
                <span style="--i:25;"></span>
                <span style="--i:18;"></span>
                <span style="--i:21;"></span>
                <span style="--i:15;"></span>
                <span style="--i:13;"></span>
                <span style="--i:26;"></span>
            </div>

            <div class="titulo-principal">
                <h1 class="efeito-fadeIn" id="titulo-principal">a fusão dos geeks: piticas e bandup fazem
                    joint venture e criam a cosmos</h1>
            </div> <!--FIM DA DIV TITULO-PRINCIPAL-->

            <div class="primeiro-bloco">

                <section class="imagem-lateral">
                    <img src="~/img/side-img.png" alt="" class="efeito-fadeIn">
                </section><!--FIM DA SECTION IMAGEM-LATERAL-->

                <section class="texto-lateral">
                    <h1 class="efeito-fadeIn">QUEM SOMOS?</h1>
                    <p class="efeito-fadeIn">Cosmos é a fusão entre duas gigantes do mercado: BandUP! e Piticas. Juntas,
                        essas empresas líderes no ramo da música e moda casual expandiram sua oferta de produtos e
                        serviços, tornando-se uma referência internacional. Com uma ampla gama de produtos licenciados e
                        uma presença marcante em eventos, o Grupo Cosmos é reconhecido por sua excelência, inovação e
                        amor pela cultura pop e geek.</p>
                </section><!--FIM DA SECTION TEXTO-LATERAL-->
            </div><!--FIM DA DIV PRIMEIRO-BLOCO-->
        </div>




        <div class="parallax">
            <div class="parallax-img"></div><!--FIM DA DIV PARALLAX-IMG-->

            <div class="parallax-conteudo">
                <h1 class="efeito-fadeIn">O QUE FAZEMOS?</h1>
                <p class="efeito-fadeIn">O Grupo Cosmos é o epicentro da cultura pop e do entretenimento, criando
                    experiências excepcionais
                    para
                    os fãs em todo o mundo. Nós oferecemos uma vasta gama de produtos e serviços, desde roupas estilosas
                    até
                    itens de decoração e colecionáveis, tudo com a qualidade e autenticidade que os fãs merecem. Com uma
                    rede de licenciamentos ampla e colaborações com marcas renomadas, estamos sempre inovando e
                    expandindo
                    nossa presença em eventos e convenções, consolidando nosso compromisso em entregar o melhor da
                    cultura
                    pop para nossos clientes.</p>
            </div><!--FIM DA DIV PARALLAX-CONTEUDO-->
        </div><!--FIM DA DIV PARALLAX-->


        <div class="container">
            <div class="estrelas">
                <span style="--i:11;"></span>
                <span style="--i:12;"></span>
                <span style="--i:24;"></span>
                <span style="--i:10;"></span>
                <span style="--i:14;"></span>
                <span style="--i:23;"></span>
                <span style="--i:18;"></span>
                <span style="--i:16;"></span>
                <span style="--i:19;"></span>
                <span style="--i:20;"></span>
                <span style="--i:22;"></span>
                <span style="--i:25;"></span>
                <span style="--i:18;"></span>
                <span style="--i:21;"></span>
                <span style="--i:15;"></span>
                <span style="--i:13;"></span>
                <span style="--i:26;"></span>
                <span style="--i:17;"></span>
                <span style="--i:13;"></span>
                <span style="--i:28;"></span>
                <span style="--i:22;"></span>
                <span style="--i:25;"></span>
                <span style="--i:18;"></span>
                <span style="--i:21;"></span>
                <span style="--i:15;"></span>
                <span style="--i:13;"></span>
                <span style="--i:26;"></span>
                <span style="--i:17;"></span>
                <span style="--i:13;"></span>
                <span style="--i:28;"></span>
                <span style="--i:11;"></span>
                <span style="--i:12;"></span>
                <span style="--i:24;"></span>
                <span style="--i:10;"></span>
                <span style="--i:14;"></span>
                <span style="--i:23;"></span>
                <span style="--i:18;"></span>
                <span style="--i:16;"></span>
                <span style="--i:19;"></span>
                <span style="--i:20;"></span>
                <span style="--i:21;"></span>
                <span style="--i:15;"></span>
                <span style="--i:13;"></span>
                <span style="--i:26;"></span>
                <span style="--i:17;"></span>
                <span style="--i:13;"></span>
                <span style="--i:28;"></span>
                <span style="--i:22;"></span>
                <span style="--i:25;"></span>
                <span style="--i:18;"></span>
                <span style="--i:21;"></span>
                <span style="--i:15;"></span>
                <span style="--i:13;"></span>
                <span style="--i:26;"></span>
            </div>
            <div class="segundo-bloco">
                <div class="segundoBloco-txt">
                    <h1 class="efeito-fadeIn">OBJETIVOS</h1>
                    <p class="efeito-fadeIn">O Grupo Cosmos visa promover a sinergia entre as empresas Piticas e BandUP
                        para expandir os negócios, diversificar a oferta de produtos, promover a inovação colaborativa e
                        impulsionar o crescimento sustentável a longo prazo. Com uma abordagem estratégica e orientada
                        para resultados, o grupo está comprometido em alcançar a excelência operacional e moldar o
                        futuro do mercado.</p>
                </div><!--FIM DA DIV SEGUNDOBLOCO-TXT-->
            </div><!--FIM DA DIV SEGUNDO-BLOCO-->
        </div>
    </main>

 <footer>
        <div id="footer-content">
            <div class="left-footer">
                <img class="logo-footer" src="~/img/bandup-logo-footer.png" alt="bandup-logo">
                <div class="social-icon">
                    <a href="https://www.facebook.com/bandupstore/?locale=pt_BR"><img src="~/img/facebook-icon.png" alt="Facebook"></a>
                    <a href="https://www.instagram.com/bandupstore/"><img src="~/img/instagram-icon.png" alt="Instagram"></a>
                    <a href="https://x.com/i/flow/login?redirect_after_login=%2Fbandupstore"><img src="~/img/x-icon.png" alt="X"></a>
                </div>
            </div>
            <div class="center-footer">
                <div class="content-footer-menu">
                    <p><a asp-controller="Home" asp-action="Index">Home</a></p>
                    <p><a asp-controller="Home" asp-action="Marcas"></a>Marcas</a></p>
                    <p><a asp-controller="Home" asp-action="Lojas">Nossas lojas</a></p>
                    <p><a asp-controller="Home" asp-action="Eventos">Eventos</a></p>
                    <p><a href="https://api.whatsapp.com/send/?phone=5514996639382&text&type=phone_number&app_absent=0">Seja um cliente B2B</a></p>
                    <p><a asp-controller="Home" asp-action="Cosmos">Conheça o grupo Cosmos</a></p>
                    <p><a asp-controller="Home" asp-action="Historia">Nossa Historia</a></p>
                    <p><a href="https://api.whatsapp.com/send/?phone=5514996639382&text&type=phone_number&app_absent=0">Fale conosco</a></p>
                </div>
                <div class="content-footer-menu">
                    <p class="bold-txt">Lojas Oficiais</p>
                    <p><a href="https://www.lojadccomics.com.br/">Loja DC Comics</a></p>
                    <p><a href="https://www.lojawarnerbros.com.br/">Loja Warner Bros</a></p>
                    <p><a href="https://www.cnshop.com.br/">CN Shop</a></p>
                    <p><a href="https://www.shopharrypotter.com.br/">Shop Harry Potter</a></p>
                    <p><a href="https://www.hboshop.com.br/">HBO Shop</a></p>
                    <p><a href="https://www.lojinhadamonica.com.br/">Lojinha da Mõnica</a></p>
                    <p><a href="https://www.fresnoshop.com.br/">Fresno Shop</a></p>
                </div>
            </div>
            <div class="newletter">
                <div class="NLtxt">
                    <p class="poppins-bold">RECEBA NOSSAS NOVIDADES</p>
                    <p class="poppins-regular">Fique por dentro dos últimos<br>lançamentos do mundo Geek!</p>
                </div>
                <form class="input-txt" action="#">
                    <input class="input-box" type="text" id="fname" name="fname" placeholder="Nome">
                    <input class="input-box" type="text" id="lname" name="lname" placeholder="E-mail">
                    <input class="button" type="submit" value="Submit">
                </form>
            </div>
        </div>
        <div class="legal-line">
            <h2 class="lang-txt" style="color: white;">
                Fan Store Entretenimento S.A. - bandUP! - Av. Pedro Ometto, 1570 - Vila Narcisa -
                17340-212 - Barra Bonita (SP) - CNPJ: 01.424.397/0001-01 - Inscricao Estadual: 202.032.630.110
            </h2>
        </div>
    </footer>

    <script src="~/js/cosmos.js"></script>
</body>

</html>







