@{
    ViewData["Title"] = "Historia";
}

@section Styles {
    <link rel="stylesheet" href="~/css/historia.css">
}

@section Scripts {
    <script src="~/js/historia.js"></script>
}

<partial name="_Header"></partial>

  <main id="historia-main">

       <div class="header-img">
           <img src="~/img/Banner-quem_somos.jpg" alt=""> 
        </div>

        <section class="apresentacao">

            <div class="apresentacao-content">
                <div class="apresentacao-txt">
                    <h1 class="efeito-fadeIn">QUEM SOMOS?</h1>
                    <p class="efeito-fadeIn">A bandUP é uma startup criada por e para pessoas apaixonadas por Música e Cultura Pop, Artistas e Super-Heróis, Games e Quadrinhos, Filmes, TV e qualquer outra forma de entretenimento que emocione.</p>
                </div> <!--FIM DA DIV APRESENTACAO-TXT-->
    
                <div class="card-dog">
                    <img src="~/img/bob.png" class="efeito-fadeIn"> 
                </div> <!--FIM DA DIV CARD-DOG-->
            </div>
        </section> <!--FIM DA SEÇÃO APRESENTACAO-->

        <section class="conteudo-principal">
            <div class="bloco-texto">
                <div class="texto-principal">
                    <h1 class="efeito-fadeIn">EM QUE ACREDITAMOS?</h1>
                    <p class="efeito-fadeIn">Nós acreditamos em ideias e, mais do que simplesmente acreditar em cada palavra que dizemos para contar as nossas ideias, nós acreditamos que podemos transformá-las em realidade. Acreditamos que criar e empreender são duas poderosas ferramentas de transformação para as pessoas e o Mundo!
                        Muitas vezes erramos pois temos um desejo insano em aprender. Adoramos desafios pois amamos solucioná-los. Nosso time cria, descobre e resolve problemas. Todos os dias trabalhamos duro, nos divertimos muito e somos fanáticos pelo que fazemos pois,</p>
                </div> <!--FIM DA DIV TEXTO-PRINCIPAL-->
                
                
            </div> <!--FIM DA DIV BLOCO-TEXTO-->

            <div class="visita">
                <div class="visita-img">
                    <img src="~/img/frente-bdp.jpg" alt="" id="visita-img" class="efeito-fadeIn">
                </div><!--FIM DA DIV VISITA-IMG-->

                <div class="visita-txt">
                    <h1 class="efeito-fadeIn">ADORAMOS VISITAS!</h1>
                    <p class="efeito-fadeIn" id="visitaTxt1">A nossa casa fica em Barra Bonita, no interior de São Paulo, a nossa "Califórnia Brasileira". Quando estiver por aqui, será muito legal te receber para que você nos conheça pessoalmente, almoce com a gente e passe um dia participando do nosso trabalho.</p>

                    <h1 class="efeito-fadeIn">VENHA NOS CONHECER!</h1>
                    <p class="efeito-fadeIn">Av. Pedro Ometto, 1570<br>
                        Vila Narcisa - Barra Bonita/SP<br>
                        (14) 3604-2020</p>
                </div><!--FIM DA DIV VISITA-TXT-->
            </div> <!--FIM DA DIV VISITA-->
        </section> <!--FIM DA SEÇÃO CONTEUDO-PRINCIPAL-->
    </main>



