@{
    ViewData["Title"] = "Lojas";
}

@section Styles {
    <link rel="stylesheet" href="~/css/lojas.css">
}

@section Scripts {
    <script src="~/js/lojas.js"></script>
}

<partial name="_Header"></partial>

<main>
    <p>lojas</p>
    <p>lojas</p>
    <p>lojas</p>
    <p>lojas</p>
    <p>lojas</p>
    <p>lojas</p>
    <p>lojas</p>
    <p>lojas</p>
    <p>lojas</p>
    <p>lojas</p>
</main>



