@model IEnumerable<SiteInstitucionalBandup.Models.Marca>
@{
    ViewData["Title"] = "Marcas";
}

@section Styles {
    <link rel="stylesheet" href="~/css/marcas.css">
}

@section Scripts {
    <script src="~/js/marcas.js"></script>
}   

<partial name="_Header"></partial>

<div class="banner"></div>
<main id="marcas-main">
    <h1 class="efeito-fadeIn" id="titulo">
        Conheça nossas marcas!
    </h1>

    <div class="agrupa-container">
        <div class="cards-container">
            <div class="cards-container-wrapper">
                @foreach (var marca in Model)
                {
                    <section class="cards" id="card-@marca.Id">
                        <img src="@marca.Imagem" alt="@marca.NomeMarca">
                        <div class="mais-info">
                            <button class="maisInfo-btn"
                                    data-modal-content="<h1>@marca.NomeMarca</h1> <br> <p>@marca.Descricao</p>">
                                <img src="~/img/icons8-plus.svg" alt="Mais informações">
                            </button>
                        </div>
                    </section>
                }
            </div>
        </div>
    </div>
    <div class="btn-group">
        <button id="proximo-btn"><img src="~/img/icons8-forward-52.svg" alt=""></button>
        <button id="anterior-btn"><img src="~/img/icons8-forward-52.svg" alt=""></button>
    </div>
</main>

<div class="modal-backdrop" id="modal-backdrop"></div>
<div class="modal" id="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p id="modal-text"></p>
    </div>
</div>


